.container {
  padding: 5rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.back:link,
.back:visited,
.next:link,
.next:visited {
  display: block;
  text-decoration: none;
  padding: 0.5em 1.5em;
  text-align: center;
  background-color: rgba(134, 78, 26, 0.75);
  color: #fff;
  border-radius: 0.3em;
}

.back {
  position: absolute;
  left: 20rem;
}

.next {
  position: absolute;
  right: 20rem;
}

@media screen and (max-width: 75em) {
  .back {
    left: 15rem;
  }
  .next {
    right: 15rem;
  }
}

@media screen and (max-width: 65em) {
  .back {
    left: 10rem;
  }
  .next {
    right: 10rem;
  }
}

@media screen and (max-width: 55em) {
  .back {
    left: 5rem;
  }
  .next {
    right: 5rem;
  }
}

@media screen and (max-width: 45em) {
  .back {
    left: 2rem;
  }
  .next {
    right: 2rem;
  }
}

@media screen and (max-width: 40em) {
  .back {
    left: 0rem;
  }
  .next {
    right: 0rem;
  }

  .back > span,
  .next > span {
    display: none;
  }
  .back:link,
  .back:visited,
  .next:link,
  .next:visited {
    padding: 0.5em 1em;
  }
}
