.container {
  padding: 10rem 0 3rem;
  position: relative;
  overflow: hidden;
}

.warning {
  opacity: 0;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  background-color: rgb(233, 84, 84);
  border: 3px solid #f00;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.3s;
}

.warning.show_warning {
  top: 2rem;
  opacity: 1;
}
