.container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: 2rem;

  border: 5px solid rgba(60, 255, 0, 0);
  border-radius: 0.5em;
  position: relative;

  transition: all 0.2s;
}
.container.added {
  border: 5px solid rgba(60, 255, 0, 0.25);
  background-color: rgba(123, 255, 0, 0.25);
}
.container.added::after {
  content: '';
  display: block;
  height: 5rem;
  width: 5rem;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: url('../../checked.png') center center / contain no-repeat;
}

.list_container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  align-items: center;
  font-size: 1.6rem;
}

.image_container {
  min-width: 10rem;
  width: 10rem;
}
.info {
  margin: 0 2rem;
  flex: 1;
}

.small_image_container {
  min-width: 7rem;
  width: 7rem;
}

.name {
  white-space: nowrap;
}
