.container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: 2rem;
}
.list_container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  align-items: center;
  font-size: 1.6rem;
}

.image_container {
  min-width: 10rem;
  width: 10rem;
}
.info {
  margin: 0 2rem;
  flex: 1;
}

.small_image_container {
  min-width: 7rem;
  width: 7rem;
}

.name {
  white-space: nowrap;
}
