.overlay {
  width: 1px;
  height: 1px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;

  transition: all 0.2s;
}

.overlay.open {
  opacity: 1;
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.container {
  opacity: 0;
  padding: 3rem;
  max-width: 114rem;
  background-color: #fff;
  border-radius: 0.5rem;
  z-index: 11;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  transition: all 0.2s;
}

.container.open {
  opacity: 1;
  top: 50vh;
}

.container > *:not(:last-child) {
  margin-bottom: 2rem;
}

.title {
  text-align: center;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.preview {
  flex: 1;
  flex-basis: 50rem;
  min-width: 25rem;
}
.ingredients {
  flex: 1;
  flex-basis: 50rem;
  min-width: 25rem;
}

.buttons_container {
  display: flex;
  justify-content: center;
}

.button,
.button:link,
.button:visited {
  margin: 2rem;
  cursor: pointer;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  display: block;
  text-decoration: none;
  padding: 0.5em 1.5em;
  text-align: center;
  background-color: rgba(134, 78, 26, 0.75);
  color: #fff;
  border-radius: 0.3em;
}

.message_container {
  text-align: center;
  padding: 7rem 5rem;
}

.message_container > *:not(:last-child) {
  margin-bottom: 5rem;
}

.message_container .button {
  display: inline-block;
  padding: 0.5em 2em;
  text-align: center;
}
