html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: rgb(66, 31, 2);
  font-size: 1.6rem;
  min-height: 100vh;
  padding: 2em;

  background: url('./background.jpg');
  font-family: 'Yatra One', 'Arial Black';
  font-size: 2rem;
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 100%;
}
